---
interface Props {
  link: string;
  text: string;
}
const { link, text } = Astro.props;
---

<a href={link} class="btn">
  <p class="btn__text">{text}</p>
</a>

<style>
  .btn {
    background-color: #fefefe;
    border-radius: 0.5em;
    padding: 0.25em 1.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
    margin-top: 1em;
  }

  .btn__text {
    color: #020826;
    padding-top: 0;
    font-size: 1em;
    font-weight: 500;
    position: relative;
    font-family: "futura-100", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
  }

  .btn:hover {
    background-color: #fff;
  }
</style>
