---
import Button from "./Button.astro";
---

<div class="products-grid">
  <div class="product product__tilt">
    <h3>Interior Package</h3>
    <div class="product-description">
      <p class="product-description__item">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
            stroke="#fafafa"></path>
          <path d="M8 12L11 15L16 10" stroke="#fafafa" stroke-miterlimit="10"
          ></path>
        </svg>Vacuum floors + trunk area
      </p>
      <p class="product-description__item">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
            stroke="#fafafa"></path>
          <path d="M8 12L11 15L16 10" stroke="#fafafa" stroke-miterlimit="10"
          ></path>
        </svg>Wipe down vinyl or plastic floor mats
      </p>
      <p class="product-description__item">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
            stroke="#fafafa"></path>
          <path d="M8 12L11 15L16 10" stroke="#fafafa" stroke-miterlimit="10"
          ></path>
        </svg>Interior Dressing and Protection
      </p>
      <p class="product-description__item">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
            stroke="#fafafa"></path>
          <path d="M8 12L11 15L16 10" stroke="#fafafa" stroke-miterlimit="10"
          ></path>
        </svg>Light Stain Removal
      </p>
      <p class="product__price">Starting at $150</p>
    </div>
    <Button
      link="https://app.squareup.com/appointments/book/esmdw7ewls8kl8/LV46MTHN5EQG1/start"
      text="Book Now"
    />
  </div>
  <div class="product product__tilt--reverse">
    <h3>Complete Package</h3>
    <div class="product-description">
      <p class="product-description__item">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
            stroke="#fafafa"></path>
          <path d="M8 12L11 15L16 10" stroke="#fafafa" stroke-miterlimit="10"
          ></path>
        </svg>Everything from Interior Package
      </p>
      <p class="product-description__item">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
            stroke="#fafafa"></path>
          <path d="M8 12L11 15L16 10" stroke="#fafafa" stroke-miterlimit="10"
          ></path>
        </svg>Everything from Exterior Package
      </p>
      <p class="product__price">Starting at $200</p>
    </div>
    <Button
      link="https://app.squareup.com/appointments/book/esmdw7ewls8kl8/LV46MTHN5EQG1/start"
      text="Book Now"
    />
  </div>
  <div class="product product__tilt">
    <h3>Exterior Package</h3>
    <div class="product-description">
      <p class="product-description__item">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
            stroke="#fafafa"></path>
          <path d="M8 12L11 15L16 10" stroke="#fafafa" stroke-miterlimit="10"
          ></path>
        </svg>Pressure Wash with Foam Cannon
      </p>
      <p class="product-description__item">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
            stroke="#fafafa"></path>
          <path d="M8 12L11 15L16 10" stroke="#fafafa" stroke-miterlimit="10"
          ></path>
        </svg>Hand Wash and Dry
      </p>
      <p class="product-description__item">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
            stroke="#fafafa"></path>
          <path d="M8 12L11 15L16 10" stroke="#fafafa" stroke-miterlimit="10"
          ></path>
        </svg>Wheels Cleaned and Tires Shined
      </p>
      <p class="product-description__item">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
            stroke="#fafafa"></path>
          <path d="M8 12L11 15L16 10" stroke="#fafafa" stroke-miterlimit="10"
          ></path>
        </svg>Glass Wiped Inside and Out
      </p>
       <p class="product__price">Starting at $70</p>
    </div>
    <Button
      link="https://app.squareup.com/appointments/book/esmdw7ewls8kl8/LV46MTHN5EQG1/start"
      text="Book Now"
    />
  </div>
  <div class="product product__tilt--reverse">
    <h3>Add-ons</h3>
    <div class="product-description">
      <p class="product-description__item">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
            stroke="#fafafa"></path>
          <path d="M8 12L11 15L16 10" stroke="#fafafa" stroke-miterlimit="10"
          ></path>
        </svg>Larger SUV/Truck +$30
      </p>
      <p class="product-description__item">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
            stroke="#fafafa"></path>
          <path d="M8 12L11 15L16 10" stroke="#fafafa" stroke-miterlimit="10"
          ></path>
        </svg>Minivan +$50
      </p>
      <p class="product-description__item">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
            stroke="#fafafa"></path>
          <path d="M8 12L11 15L16 10" stroke="#fafafa" stroke-miterlimit="10"
          ></path>
        </svg>Deep Clean (Overly Dirty) +$50
      </p>
      <p class="product-description__item">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
            stroke="#fafafa"></path>
          <path d="M8 12L11 15L16 10" stroke="#fafafa" stroke-miterlimit="10"
          ></path>
        </svg>Pet Hair +$50
      </p>
    </div>
    <Button
      link="https://app.squareup.com/appointments/book/esmdw7ewls8kl8/LV46MTHN5EQG1/start"
      text="Book Now"
    />
  </div>
</div>

<style>
  .products-grid {
    display: flex;
    justify-content: center;
    /* gap: 2rem; */
    margin-top: 2rem;
    flex-wrap: wrap;
  }

  .product {
    padding: 1rem 2rem;
    border-radius: 3rem;
    /* background-color: #f25042; */
    color: #fefefe;
    width: 15rem;
    text-align: center;
  }

  .product-description {
    text-align: left;
    font-family: "futura-100", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h3 {
    font-size: 1.75em;
    font-family: "futura-100", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .product-description__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .product__price {
     font-size: 1.25em;
    font-family: "futura-100", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
  }

  /* .product:hover svg path {
    stroke: #437512;
    transition: stroke 0.3s ease;
  } */

  .product:hover {
    transform: rotate(0deg);
    transition: transform 0.4s ease;
    z-index: 10;
  }

  .product__tilt {
    transform: rotate(-2deg);
    background-color: #f25042;
  }

  .product__tilt--reverse {
    transform: rotate(2deg);
    background-color: #020826;
  }
</style>
