---
import Button from "./Button.astro";
import Marquee from "./Marquee.astro";
---

<div class="container">
  <main>
    <section class="hero">
      <h1 data-split="heading">JJ'S DETAILING</h1>
      <h2 data-split="heading">Meticulous Detailing. Stunning Results.</h2>
      <Button link="#" text="BOOK NOW" />
    </section>
    <section>
      <!-- <BeforeAfter /> -->
      <Marquee />
    </section>
  </main>
</div>

<style>
  .container {
    font-family:
      Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
      sans-serif;
    height: 100%;
    background-color: #483f3e;
    color: #f25042;
  }

  main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }

  .hero {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }

  h1 {
    font-size: 50px;
    margin-top: 0.25em;
    width: 100%;
    font-family: "futura-100", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  h2 {
    margin: 0 0 1em;
    font-weight: normal;
    color: #fafafa;
    font-size: 30px;
    width: 100%;
    font-family: "futura-100", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  p {
    color: #4b5563;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.006em;
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    .container {
      display: flex;
      flex-direction: column;
    }

    .hero {
      display: block;
      padding-top: 10%;
    }

    h1 {
      line-height: 1.5;
    }

    h2 div {
      text-align: center;
    }

    div {
      text-align: center !important;
    }
  }
</style>
